<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Primary Meta Tags -->
  <title>Flask App</title>
  <meta name="title" content="Flask App" />
  <meta name="description" content="A Flask web app" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:title" content="Flask App" />
  <meta property="og:description" content="A Flask web app" />
  <meta property="og:image" content="" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="" />
  <meta property="twitter:title" content="Flask App" />
  <meta property="twitter:description" content="A Flask web app" />
  <meta property="twitter:image" content="" />

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="static/assets/favicon.ico" type="image/x-icon">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <h1 class="text-center align-middle text-7xl">Hello World</h1>
</body>

</html>